In [114]:
import pandas as pd

In [115]:
sheets = pd.ExcelFile("Belly Button Batch2_OTU and Metadata_17Nov14.xlsx").sheet_names
print(sheets)

['BBNov_otu_rar1000_L6_no chlor', 'Meta data', 'Notes']

In [116]:
dataset=pd.read_excel('Belly Button Batch2_OTU and Metadata_17Nov14.xlsx', sheet_name=0)
dataset2=pd.read_excel('Belly Button Batch2_OTU and Metadata_17Nov14.xlsx', sheet_name=1)

In [119]:
dataset.drop(columns=['Kingdom/Domain','Class',"Order","Family","Genus","Family_Genus"], inplace=True)

In [120]:
dataset =dataset.groupby("Phylum").sum().reset_index()

In [121]:
dataset2=dataset2[['ID','Wash_Freq of BB (# times per week)']]

In [163]:
dataset.drop(dataset.iloc[0:2].index, inplace=True)

In [123]:
dataset_T = dataset.set_index('Phylum').transpose()
dataset_T['NumPhylum'] = (dataset_T > 0).sum(axis=1)
dataset_T = dataset_T[['NumPhylum']].reset_index()

In [ ]:
dataset_T = dataset_T.reset_index()
dataset_T = dataset_T[['index', 'NumPhylum']]   
dataset_T = dataset_T.rename(columns={'index': 'ID'})

In [125]:
dataset_T.head()

Phylum    ID  NumPhylum
0       1153          3
1       1161          4
2       1169         11
3        979          4
4       1113         10

In [126]:
dataset_T.columns.name = None

In [143]:
dataset3= dataset_T.merge(dataset2, on="ID", how="inner")

In [145]:
null_count = (dataset3['Wash_Freq of BB (# times per week)'] == "Unknown").sum()
print( f'Percentage of null wash frequencies {(null_count/  len(dataset3))*100}')

Percentage of null wash frequencies 42.49084249084249

In [146]:
import numpy as np
dataset3 = dataset3.replace('Unknown', np.nan)
dataset3=dataset3.dropna()

In [160]:
dataset3.reset_index(drop=True, inplace=True)

In [162]:
dataset3.to_csv('clean_phylum_washFreq_BB.csv')